.surround(ng-controller="ChatController")
	.chat
		.items(ng-repeat="item in interaction",style="margin: 5px 0px")
			chat-item.item(item="item")
		.placeHolderItem
		.amountInput(ng-if="!btcmode || btcmode == 'tnx'")
			input(type="number",ng-model="tx.tnx", min="0", ng-required="true", name="amount")
		.amountInput(ng-if="btcmode == 'sat'")
			input(type="number",ng-model="tx.sat", min="5430",ng-required="true", name="amount")
		.amountInput(ng-if="btcmode == 'dollar'")
			input(type="number",ng-model="tx.dollar",min="0.01", ng-required="true", name="amount")
			span.dollarsInThanx(ng-show="tx.dollar") {{ ( tx.dollar / price ) * 100000000 | number: 0}} thanx
		.messageInput
			textarea(ng-model="tx.message")
		.chatActionButtons
			img.chatActionButton(ng-src="/img/give.png", ng-show="isMoneyTx()", ng-click="give()")
			img.chatActionButton(ng-src="/img/get.png", ng-show="isMoneyTx()", ng-click="get()")
			button.sendButton(ng-show="!isMoneyTx()", ng-disabled="!tx.message || submitDisabled", ng-click="sendMessage()") Send
	include modal