html(manifest='manifest.appcache')
head
    title bitconnect
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='google', content='notranslate')
    meta(name='apple-mobile-web-app-title', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='css/site.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
  body
    .wrapper
      .header
        .top
          .l
            a.leftarrowico(href='/app/thanx')
          .c connect with
          .r
          .clear
        .bottom
          .l {{ user.tnx }} thanx
          .r
            a(href='#')
              img(src='/img/searchico.png')
          .clear
      .content
        .notifications.connect(infinite-scroll="loadMoreFriends()", infinite-scroll-distance="2")
          .title bitconnected facebook friends
          div(ng-repeat="userFriend in FBfriends.registeredFriends")
            .row(ng-click="goTo('chat/'+userFriend.id)")
              .l
                img(ng-src='/pic?id={{userFriend.id}}')
              .c
                .name {{userFriend.first_name}} {{userFriend.last_name}}
              .r
              .clear

          .title facebook friends
          div(ng-repeat="friend in visibleFriends.otherFriends")
            .row
              .l
                img(ng-src='/pic?id={{friend.id}}')
              .c
                .name {{friend.first_name}} {{friend.last_name}}
              .r
                a.but1(href="#", ng-click="invite(friend.id)") invite
              .clear