html(manifest='manifest.appcache')
head
    title bitconnect
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='google', content='notranslate')
    meta(name='apple-mobile-web-app-title', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
  body
    include menu
    .wrapper
      .header
        .top
          .l
            a.meico(href="#", ng-click='toggleMenu()')
          .c
            a.bitconnectlogo(href='/app/thanx')
          .r
            a.connectico(href="/app/connect")
          .clear
        .bottom
          .l {{user.tnx}} thanx
          .r
            a(href='#')
              img(src='/img/searchico.png')
          .clear
      .content
        .notifications(ng-repeat="hitem in conversations")
          history-item(item="hitem", other-user="hitem[hitem.otherUserKey]")
