.surround(ng-controller="GetController")
    include navbar
    form
        .form-group
            label from:
            input.form-control(type="text",ng-model="get.from",typeahead="u for u in usernames | filter:$viewValue | limitTo:8")
        .form-group
            label amount (thanx):
            input.form-control(type="text",ng-model="get.tnx")
        .form-group
            label message:
            textarea.form-control(type="text",rows="3",ng-model="get.message")
        div
            a.btn.btn-default(ng-click="gettnx()") get
    include modal
