.surround(ng-controller="GetController")
    include navbar
    form.giveget_form
        .form-group
            input.form-control(type="text",ng-model="get.from",typeahead="u.fullname for u in getFilteredUsers($viewValue) |  limitTo:8", placeholder="get from")
        .form-group(ng-hide="btcmode")
            input.form-control(type="number",ng-model="get.tnx", min="0", step="1", pattern="[0-9]", required, placeholder="number of thanx")
        .form-group(ng-show="btcmode")
            input.form-control(type="number",ng-model="get.bts", min="5430", step="1", pattern="[0-9]", required, placeholder="number of satoshi")
        .form-group
            textarea.form-control(type="text",rows="3",ng-model="get.message", placeholder="message")


        .submit_btn
            img(ng-click="getmain()", ng-src="/img/get.svg")

    include modal
