.surround(ng-controller="GetController")
    .giveGetPage
        form.giveget_form.get(name="getForm", ng-class="{showErrors: showErrors}", novalidate)
            .formField get from:
                input(type="text",ng-model="get.from",typeahead="u as u.fullname for u in getFilteredUsers($viewValue) |  limitTo:8", style="width:calc(100% - 60px)", ng-required="true", id="getFrom", name="getFrom")
            div.error(ng-show="showErrors && getForm.getFrom.$error.required") must specify giver
            div.error(ng-show="showErrors && getForm.getFrom.$error.user") giver must be a person
            .formField(ng-if="!btcmode || btcmode=='tnx'") number of thanx:
                input(type="number",ng-model="get.tnx", style="width:calc(100% - 110px)", min="1", ng-required="true", name="amount")
            .formField(ng-if="btcmode=='sat'") number of satoshi:
                input(type="number",ng-model="get.sat", style="width:calc(100% - 115px)", min="1", ng-required="true", name="amount")
            .formField(ng-if="btcmode == 'dollar'") number of dollars:
                input(type="number",ng-model="get.dollar",style="width:calc(100% - 120px)",min="0.01", ng-required="true", name="amount")
                span.dollarsInThanx(ng-show="get.dollar") {{ ( get.dollar / price ) * 100000000 | number: 0}} thanx
            div.error(ng-show="showErrors && (getForm.amount.$error.required || getForm.amount.$error.badInput || getForm.amount.$error.min)") amount must be
                span(ng-show="btcmode != 'dollar'") &nbsp;positive integer
                span(ng-show="btcmode == 'dollar'") &nbsp;at least 0.01 dollars
            .formField message:
                input(type="text",rows="3",ng-model="get.message", style="width:calc(100% - 60px)")
            .submit_btn
                input(type="button", ng-click="getmain()", ng-disabled="submitDisabled")
        div(ng-if="pendingRequests.incoming.give.length > 0")
            label incoming ({{ pendingRequests.incoming.give.length || 0 }})
            .requests(ng-repeat="request in pendingRequests.incoming.give",style="margin: 5px 0px")
                .request
                    request-item(request="request", dir="incoming")
        div(ng-if="pendingRequests.outgoing.get.length > 0")
            label outgoing ({{ pendingRequests.outgoing.get.length || 0 }})
            .requests(ng-repeat="request in pendingRequests.outgoing.get",style="margin: 5px 0px")
                .request
                    request-item(request="request", dir="outgoing")                
        include modal
