.surround(ng-controller="GiveController")
    include navbar
    form
        .form-group(style="position:relative")
            label to:
            input.form-control(type="text",ng-model="give.to",typeahead="u for u in usernames | filter:$viewValue | limitTo:8")
            img(style="position:absolute; right:10px; top: 10px; cursor: pointer",src="give.png",ng-click="btcmode = true",ng-hide="btcmode")
            img(style="position:absolute; right:10px; top: 10px; cursor: pointer",src="get.png",ng-click="btcmode = false",ng-show="btcmode")
        .form-group(ng-hide="btcmode")
            label amount (tnx):
            input.form-control(type="text",ng-model="give.tnx")
        .form-group(ng-show="btcmode")
            label amount (btc):
            input.form-control(type="text",ng-model="give.btc")
        .form-group
            label description:
            textarea.form-control(type="text",rows="3",ng-model="give.message")
        div
            a.btn.btn-default(ng-click="givetnx()",ng-hide="btcmode") give
            a.btn.btn-default(ng-click="givebtc()",ng-show="btcmode") give

    include modal
