.surround(ng-controller="GiveController")
    form.giveget_form.give
        .formField give to:
            input(type="text",ng-model="give.to",typeahead="u as u.fullname for u in getFilteredUsers($viewValue) | limitTo:8", style="width:calc(100% - 60px)")
        .formField(ng-show="!btcmode || btcmode == 'tnx'") number of thanx:
            input(type="number",ng-model="give.tnx", pattern="[0-9]", required, style="width:calc(100% - 110px)")
        .formField(ng-show="btcmode == 'sat'") number of satoshi:
            input(type="number",ng-model="give.bts",style="width:calc(100% - 115px)", pattern="[0-9]", required)
        .formField message:
            input(type="text", ng-model="give.message", style="width:calc(100% - 60px)")

        .submit_btn
            img(ng-click="givemain()", ng-src="/img/give.png")

    include modal