.surround(ng-controller="GiveController")
    include navbar
    form.giveget_form.give
        .form-group
            input.form-control(type="text",ng-model="give.to",typeahead="u for u in usernames | limitTo:8", placeholder="give to")
        .form-group(ng-hide="btcmode")
            input.form-control(type="number",ng-model="give.tnx", min="0", step="1", pattern="[0-9]", required, placeholder="number of thanx")
        .form-group(ng-show="btcmode")
            input.form-control(type="number",ng-model="give.bts", min="0", step="1", pattern="[0-9]", required, placeholder="number of satoshi")
        .form-group
            textarea.form-control(type="text",rows="3",ng-model="give.message", placeholder="message")

        .submit_btn
            img(ng-click="givemain()", ng-src="/img/02 give.svg")

    include modal