head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title https://bitconnect.me
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0; user-scalable=0;')

    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="css/main.css")
    link(rel="stylesheet",type="text/css",href="css/bootstrap.min.css")

    script(src="angular.min.js")
    script(src="ui-bootstrap-custom-0.6.0.min.js")
    script(src="ui-bootstrap-custom-tpls-0.6.0.min.js")
    script(src="underscore-min.js")
    script(src="bitcoinjs-min.js")
    script(src="bitcoinjs-wrapper.js")
    script(src="app.js")
    script(src="services/me.js")
    script(src="services/requests.js")
    script(src="services/bitcoin.js")
    script(src="controllers/get.js")
    script(src="controllers/give.js")
    script(src="controllers/newaccount.js")
    script(src="controllers/invitefriends.js")
    script(src="controllers/request.js")
    script(src="controllers/newaccount.js")
    script(src="controllers/profile.js")
    script(src="controllers/settings.js")
    script(src="facebook.js")
