doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(ng-app="thanxbits").no-js
    //<![endif]
    head
        include meta

        link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
        link(rel="stylesheet",type="text/css",href="/css/app.css")
        
        link(rel="stylesheet",type="text/css",href="/css/lib/add2home.css")

        script(src="/js/lib/add2home.js")
        script(src="/js/lib/underscore-min.js")
        script(src="/js/lib/jquery-1.10.2.min.js")
        script(src="/js/lib/angular.min.js")
        script(src="/js/lib/ui-bootstrap-custom-0.6.0.min.js")
        script(src="/js/lib/bitcoinjs-min.js")
        script(src="/js/lib/ng-infinite-scroll.min.js")

        script(src="/js/bitcoinjs-wrapper.js")
        script(src="/js/facebook.js")

        script(src="/js/app.js")

        script(src="/js/services/me.js")
        script(src="/js/services/requests.js")
        script(src="/js/services/bitcoin.js")
        script(src="/js/services/friends.js")

        script(src="/js/controllers/get.js")
        script(src="/js/controllers/give.js")
        script(src="/js/controllers/newaccount.js")
        script(src="/js/controllers/invitefriends.js")
        script(src="/js/controllers/request.js")
        script(src="/js/controllers/newaccount.js")
        script(src="/js/controllers/profile.js")
        script(src="/js/controllers/settings.js")



