div(ng-controller="InviteFriendsController",infinite-scroll="loadMoreFriends()", infinite-scroll-distance="2", infinite-scroll-parent="true")
    div.inviteContainer(style="text-align:center; width:100%")
        div(style='margin-top: 5px;')
            progressbar(value="( usedInvitations * 100 ) / invitationLimit", max="100") {{ usedInvitations }} &nbsp
        div.controlBar
            .left selected: {{ numselected }}
            .left.search
                img.searchButton(ng-src="/img/search.svg", ng-click="showsearchbar = !showsearchbar")
            .right.invite(ng-click="invite()") invite
        div
            input.searchLine(type="text",ng-show="showsearchbar",placeholder="search a friend",ng-model="searchstring")
        .friendsList
            .friend(ng-repeat="(i,friend) in visibleFriends | orderBy:'first_name'")
                img.friendImg(ng-src="{{friend.picture.data.url}}")
                .body
                    .name {{friend.first_name}} {{friend.last_name}}
                    .rightButtons
                        a.get(href="/app/get?fromId={{friend.id}}", title="get", ng-if="friend.isUser")
                            img.actionButton(ng-src="/img/get.png")
                        a.give(href="/app/give?toId={{friend.id}}", title="give", ng-if="friend.isUser")
                            img.actionButton(ng-src="/img/give.png")
                        a.invite(title="invite", ng-if="!friend.isUser", ng-click="selectFriend(friend.id)")
                            img.actionButton(ng-src="/img/fb{{{true: '_clicked_2'}[selected[friend.id]]}}.png")
    include modal