div(ng-controller="InviteFriendsController",infinite-scroll="loadMoreFriends()", infinite-scroll-distance="2", infinite-scroll-parent="true")
    center(style="width:100%")
        div(style='margin-top: 5px; margin-bottom: 15px;')
            progress-bar(style="width:80%; text-align:left",value="user.inviteCounter")
            span &nbsp; {{ user.inviteCounter * 10 }}%
        div(style="width:100%; height: 40px")
            div(style="width:60%; float:left")
                div.bubble.inline selected: {{ numselected }}
                div.bubble.inline = {{ numselected * 54 }} x
            div(style="width:40%; float:right")
                img.searchButton(ng-src="/img/search.svg", ng-click="showsearchbar = !showsearchbar")
                a.btn.inline(style="width:20%",ng-show="numselected == filteredFriends.length",ng-click="selectNone()") clear
                a.btn.inline(style="width:60px",ng-click="invite()") invite
        div
            input.form-control(type="text",ng-show="showsearchbar",placeholder="Search",ng-model="searchstring")
            
        .friendsList
            .friend(ng-repeat="(i,friend) in visibleFriends | orderBy:'first_name'")
                img.friendImg(ng-src="{{friend.picture.data.url}}")
                .body
                    .name {{friend.first_name}} {{friend.last_name}}
                    .rightButtons
                        a.get(href="/app/get?fromId={{friend.id}}", title="get", ng-if="friend.isUser")
                            img.actionButton(ng-src="/img/get.png")
                        a.give(href="/app/give?toId={{friend.id}}", title="give", ng-if="friend.isUser")
                            img.actionButton(ng-src="/img/give.png")
                        a.invite(title="invite", ng-if="!friend.isUser", ng-click="selectFriend(friend.id)")
                            img.actionButton(ng-src="/img/fb{{{true: '_clicked_2'}[selected[friend.id]]}}.png")
    include modal
