.modalbackground(ng-show="message.body")
.mymodal(ng-show="message.body")
    .body
        div {{message.body}}
        input.form-input(type="{{ field.type || 'text' }}",ng-repeat="field in message.fields",ng-model="field.value")
    .footer
        div.fullwidth
            span: button.btn(ng-show="message.actiontext",ng-click="message.action()") {{ message.actiontext }}
            span(style="margin:10px",ng-show="message.actiontext")
            span: button.btn(ng-click="message.body = null") {{ message.canceltext || "Done" }}
          