.popupbg(ng-show="message.body")
.popup(ng-show="message.body")
  .pad
    div {{ message.body }}
    div
      a(href='#',ng-show="message.actiontext",ng-click="message.action()") {{ message.actiontext }}
      a(href='#',ng-click="message.body = null") {{ message.canceltext || "Done" }}
