nav.navbar.navbar-default
    ul.iconbar.nav
        li(ng-click="goto('me')"): table
                tr: td
                    img(ng-show="path() == 'me'",ng-src="/img/me_clicked.png")
                    img(ng-hide="path() == 'me'",ng-src="/img/me.png")
                tr: td(align="center", ng-class="{selected: path() == 'me'}"): span me
        li(ng-click="goto('get')"): table
                tr: td
                    img(ng-show="path() == 'get'",ng-src="/img/get_clicked.png")
                    img(ng-hide="path() == 'get'",ng-src="/img/get.png")
                tr: td(align="center", ng-class="{selected: path() == 'get'}"): span get
                div.count(ng-show="pendingRequests.incoming.give.length > 0") &nbsp;{{ pendingRequests.incoming.give.length }}&nbsp;
        li(style="position:relative",ng-click="goto('thanx')"): table
                tr: td
                    img(ng-show="path() == 'thanx'",ng-src="/img/thanx_clicked.png")
                    img(ng-hide="path() == 'thanx'",ng-src="/img/thanx.png")
                tr: td(align="center", ng-class="{selected: path() == 'thanx'}"): span thanx
        li(ng-click="goto('give')"): table
                tr: td
                    img(ng-show="path() == 'give'",ng-src="/img/give_clicked.png")
                    img(ng-hide="path() == 'give'",ng-src="/img/give.png")
                tr: td(align="center", ng-class="{selected: path() == 'give'}"): span give
                div.count(ng-show="pendingRequests.incoming.get.length > 0") &nbsp;{{ pendingRequests.incoming.get.length }}&nbsp;
        li(ng-click="goto('us')"): table
                tr: td
                    img(ng-show="path() == 'us'",ng-src="/img/us_clicked.png")
                    img(ng-hide="path() == 'us'",ng-src="/img/us.png")
                tr: td(align="center", ng-class="{selected: path() == 'us'}"): span us
    .moneybar
        span.tnx(ng-click="btcmode = 'tnx'", ng-class="{selected: btcmode == 'tnx' || btcmode == undefined}") {{ user.tnx }} thanx
        span.sat(ng-click="btcmode = 'sat'", ng-class="{selected: btcmode == 'sat'}") {{ balance || 0 }} satoshi
        span.dollar(ng-click="btcmode = 'dollar'", ng-class="{selected: btcmode == 'dollar'}") ## dollars