nav.navbar.navbar-default
    ul.iconbar.nav
        li(ng-click="goto('me')"): table
                tr: td
                    img(ng-show="path() == 'me'",ng-src="/img/mei.svg")
                    img(ng-hide="path() == 'me'",ng-src="/img/me.svg")
                tr: td(align="center"): span me
        li(ng-click="goto('give')"): table
                tr: td
                    img(ng-show="path() == 'give'",ng-src="/img/givei.svg")
                    img(ng-hide="path() == 'give'",ng-src="/img/give.svg")
                tr: td(align="center"): span give
        li(style="position:relative",ng-click="goto('thanx')"): table
                tr: td
                    img(ng-show="path() == 'thanx'",ng-src="/img/thanxi.svg")
                    img(ng-hide="path() == 'thanx'",ng-src="/img/thanx.svg")
                tr: td(align="center"): span thanx
                div.count(style="position:absolute; background-color:#f88; z-index:1000; border-radius:5px",ng-show="requests.length > 0") &nbsp;{{ requests.length }}&nbsp;
        li(ng-click="goto('get')"): table
                tr: td
                    img(ng-show="path() == 'get'",ng-src="/img/geti.svg")
                    img(ng-hide="path() == 'get'",ng-src="/img/get.svg")
                tr: td(align="center"): span get
        li(ng-click="goto('us')"): table
                tr: td
                    img(ng-show="path() == 'us'",ng-src="/img/usi.svg")
                    img(ng-hide="path() == 'us'",ng-src="/img/us.svg")
                tr: td(align="center"): span us
    
    .moneybar
        p(ng-click="btcmode = false", ng-class="{selected: btcmode == false || btcmode == undefined}") {{ user.tnx }} thanx
            small {{ (user.tnx / 100000000 * price || 0) | number:2 }} us$
        p(ng-click="btcmode = true", ng-class="{selected: btcmode == true}") {{ balance || 0 }} satoshi
            small {{ (balance / 100000000 * price || 0) | number:2 }} us$
  
   
