body(ng-app="thanxbits")
    .surround(ng-controller="RequestController")
        include navbar
        .thanx
            label Requests ({{ requests.length || 0 }})
            .requests(ng-repeat="request in requests",style="margin: 5px 0px")
                .request
                    img.friendImg(ng-src="/pic?username={{ request.payee.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{request.payee.username}}") {{ request.payee.fbUser.first_name }} {{ request.payee.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-show="request.tnx") {{ request.tnx }} thanx
                        .sat(ng-show="request.sat") {{ request.sat }} satoshi
                        .accept
                            img(src="/img/checkmark.png", ng-click="accept(request.id)")
                        .reject
                            img(src="/img/uncheckmark.png", ng-click="reject(request.id)")
                        .message(ng-show="request.message") {{ request.message }}


            label History ({{ history.length }})
            .history(ng-repeat="hitem in history",style="margin: 5px 0px")
                .request(ng-show="hitem.payer.id == user.id")
                    img.friendImg(ng-src="/pic?username={{ hitem.payee.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{hitem.payee.username}}") {{ hitem.payee.fbUser.first_name }} {{ hitem.payee.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-show="hitem.tnx") -{{ hitem.tnx }} thanx
                        .sat.unconfirmed(ng-show="hitem.txid && !hitem.confirmed") -{{ hitem.sat }} satoshi
                        .sat(ng-show="hitem.txid && hitem.confirmed") -{{ hitem.sat }} satoshi ({{ lastheight + 1 - hitem.confirmed }} confirmations)
                        .message(ng-show="hitem.message") {{ hitem.message.slice(0,200) }}
                .request(ng-hide="hitem.payer.id == user.id")
                    img.friendImg(ng-src="/pic?username={{ hitem.payer.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{hitem.payee.username}}") {{ hitem.payer.fbUser.first_name }} {{ hitem.payer.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-show="hitem.tnx") +{{ hitem.tnx }} thanx
                        .sat(ng-show="hitem.sat") +{{ hitem.sat }} satoshi
                        .message(ng-show="hitem.message") {{ hitem.message.slice(0,200) }}

        include modal
