body(ng-app="thanxbits")
    .surround(ng-controller="RequestController")
        include navbar
        .thanx
            label Requests ({{ requests.length || 0 }})
            .requests(ng-repeat="request in requests",style="margin: 5px 0px")
                .request
                    img.friendImg(ng-src="/pic?username={{ request.sender.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{request.sender.username}}") {{ request.sender.fbUser.first_name }} {{ request.sender.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-if="request.tnx") {{ request.tnx }} thanx
                        .sat(ng-if="request.sat") {{ request.sat }} satoshi
                        .message(ng-if="request.message") {{ request.message }}
                    div.rightButtons
                        span.accept(ng-switch="", on="request.requestType")
                            img.rightButton(ng-switch-when="GIVE", src="/img/get.svg", ng-click="accept(request)")
                            img.rightButton(ng-switch-when="GET", src="/img/give.svg", ng-click="accept(request )")
                        span.reject
                            img.rightButton(src="/img/remove.svg", ng-click="reject(request.id)")
            label History ({{ history.length }})
            .history(ng-repeat="hitem in history",style="margin: 5px 0px")
                .request(ng-if="hitem.payer.id == user.id")
                    img.friendImg(ng-src="/pic?username={{ hitem.payee.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{hitem.payee.username}}") {{ hitem.payee.fbUser.first_name }} {{ hitem.payee.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-if="hitem.tnx") -{{ hitem.tnx }} thanx
                        .sat.unconfirmed(ng-show="hitem.txid && !hitem.confirmed") -{{ hitem.sat }} satoshi
                        .sat(ng-show="hitem.txid && hitem.confirmed") -{{ hitem.sat }} satoshi ({{ lastheight + 1 - hitem.confirmed }} confirmations)
                        .message(ng-if="hitem.message") {{ hitem.message.slice(0,200) }}
                .request(ng-if="hitem.payer.id != user.id")
                    img.friendImg(ng-if="hitem.payer.fbUser",ng-src="/pic?username={{hitem.payer.username}}&size=100",width="50px",height="50px")
                    img.friendImg(ng-if="!hitem.payer.fbUser",ng-src="{{ {true: '/img/x.svg', false: '/img/s.svg'}[hitem.tnx > 0]}}",width="50px",height="50px")
                    .body
                        .fbname(ng-if="hitem.payer.fbUser",title="{{hitem.payer.username}}") {{ hitem.payer.fbUser.first_name + ' ' + hitem.payer.fbUser.last_name}}
                        .fbname(ng-if="!hitem.payer.fbUser",title="Reward") reward
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-if="hitem.tnx") +{{ hitem.tnx }} thanx
                        .sat(ng-if="hitem.sat") +{{ hitem.sat }} satoshi
                        .message(ng-if="hitem.message") {{ hitem.message.slice(0,200) }}

        include modal
