body(ng-app="thanxbits")
    .surround(ng-controller="RequestController")
        .thanx
            .history(ng-repeat="hitem in history",style="margin: 5px 0px")
                .request(ng-if="hitem.payer.id == user.id", ng-class="{unconfirmed: hitem.confirmed == false}")
                    history-item(item="hitem", other-user="hitem.payee")
                .request(ng-if="hitem.payer.id != user.id", ng-class="{unconfirmed: hitem.confirmed == false}")
                    history-item(item="hitem", other-user="hitem.payer")
        include modal
