body(ng-app="thanxbits")
    .surround(ng-controller="RequestController")
        include navbar
        .thanx
            label Requests ({{ requests.length || 0 }})
            .requests(ng-repeat="request in requests",style="margin: 5px 0px")
                .request
                    img.friendImg(ng-src="/pic?username={{ request.payee.username }}&size=100",width="50px",height="50px")
                    .body
                        .fbname(title="{{request.payee.username}}") {{ request.payee.fbUser.first_name }} {{ request.payee.fbUser.last_name }}
                        img.check4invite(ng-src="/img/checkmark.png",ng-show="selected[friend.id] || friend.isFriend")
                        .tnx(ng-show="request.tnx") {{ request.tnx }} tnx
                        .sat(ng-show="request.sat") {{ request.sat }} sat
                        .accept
                            img(src="/img/checkmark.png", ng-click="accept(request.id)")
                        .reject
                            img(src="/img/uncheckmark.png", ng-click="reject(request.id)")
                        .message(ng-show="request.message") {{ request.message }}


            label History ({{ history.length }})
            .history(ng-repeat="hitem in history",style="margin: 5px 0px")
                .row(ng-show="hitem.payer.id == user.id")
                    .col-xs-2: img(style="height:40px",ng-src="/pic?username={{ hitem.payee.username }}&size=100")
                    .col-xs-7
                        span(style="float:left") {{ hitem.payee.fbUser.first_name }} {{ hitem.payee.fbUser.last_name }}
                        span(style="float:right")
                            span(ng-show="hitem.tnx") -{{ hitem.tnx }} tnx
                            span(ng-show="hitem.txid && !hitem.confirmed") -{{ hitem.sat }} sat (unconfirmed)
                            span(ng-show="hitem.txid && hitem.confirmed") -{{ hitem.sat }} sat ({{ lastheight + 1 - hitem.confirmed }} confirmations)
                        br
                        span.small(style="word-wrap:break-word") {{ hitem.message.slice(0,200) }}
                .row(ng-hide="hitem.payer.id == user.id")
                    .col-xs-2: img(style="height:40px",ng-src="/pic?username={{ hitem.payer.username }}&size=100")
                    .col-xs-7
                        span(style="float:left") {{ hitem.payer.fbUser.first_name }} {{ hitem.payer.fbUser.last_name }}
                        span(style="float:right")
                            span(ng-show="hitem.tnx") +{{ hitem.tnx }} tnx
                            span(ng-show="hitem.sat") +{{ hitem.sat / 100000000 }} btp
                        br
                        span.small(style="word-wrap:break-word") {{ hitem.message.slice(0,200) }}
    
    
        include modal
