body(ng-app="thanxbits")
    .surround(ng-controller="RequestController")
        .thanx
            div(ng-if="incomingRequests.length > 0")
                label Incoming ({{ incomingRequests.length || 0 }})
                .requests(ng-repeat="request in incomingRequests",style="margin: 5px 0px")
                    .request
                        request-item(request="request", dir="incoming")
            div(ng-if="outgoingRequests.length > 0")
                label Outgoing ({{ outgoingRequests.length || 0 }})
                .requests(ng-repeat="request in outgoingRequests",style="margin: 5px 0px")
                    .request
                        request-item(request="request", dir="outgoing")
            label History ({{ history.length }})
            .history(ng-repeat="hitem in history",style="margin: 5px 0px")
                .request(ng-if="hitem.payer.id == user.id")
                    history-item(item="hitem", other-user="hitem.payee")
                .request(ng-if="hitem.payer.id != user.id")
                    history-item(item="hitem", other-user="hitem.payer")
        include modal
