.surround(ng-controller="SettingsController")
    .controlBar
        img.controlBarButton.controlBarButtonLeft(ng-src="/pic?id={{user.id}}")
        a(href='')
            img.controlBarButton.controlBarButtonRight(ng-src="/img/off.svg", title="logout", ng-click="logout()")
    a.btn(ng-click="kill()") kill account (for testing)
    form
        .form-group(ng-show="user.address")
            big my bitconnect bitcoin address
            div.lightblue.pill
                a(href="http://blockchain.info/address/{{ user.address }}",style="color:black") {{ user.address }}
            label send bitcoins to this address to add it to your satoshi balance. one bitcoin = 100,000,000 satoshis
        .form-group(ng-hide="user.address")
            label my bitconnect bitcoin address:
            label please select a password below to generate a bitcoin address for your wallet. you will be able to send bitcoins to and from this address. we do not ever receive your password, so we will not be able to help you retrieve it, or the bitcoins if you forget your password.
            input.form-control(type="password",ng-model="cpassword",placeholder="password")
            input.form-control(type="password",ng-model="cconfirm",placeholder="confirm")
            button.btn(ng-hide="user.address",ng-click="checkLogin(cpassword,cconfirm)") generate my bitconnect bitcoin address
        .form-group(ng-show="user.address")
            hr
            label turn satoshis into thanx (one satoshi = one thanx. bitcoin transaction costs apply)
            input.form-control(type="txt",ng-model="amount",placeholder="number of satoshis to convert")
            button.btn(ng-click="buy()") satoshi -> thanx
        .form-group(ng-show="user.address")
            hr
            label turn thanx into satoshis (one thanx = one satoshi. bitcoin transaction costs apply)
            input.form-control(type="txt",ng-model="amountthanxtosatoshis",placeholder="number of thanx to convert")
            button.btn(ng-click="buy()") thanx -> satoshis
        .form-group
            hr
            label if you wish to withdraw your satoshis, you will need to verify your mobile phone number (you will receive an sms with a six-digit code):
            input.form-control(type="text",ng-model="phonenum",placeholder="+(country code)(phone number)")
            button.btn(ng-click="sendtext()") send sms
        .form-group
            label enter the six-digit code you received in the sms:
            input.form-control(type="text",ng-model="smscode")
            button.btn(ng-click="vefify()") verify mobile number
        .form-group
            hr
            label you can withdraw satoshis to a bitcoin address (bitcoin transaction costs apply):
            input.form-control(type="text",ng-model="withdrawbtcaddress",placeholder="your bitcoin address to withdraw to")
            input.form-control(type="text",ng-model="withdraw",placeholder="number of satoshis to withdraw")
            button.btn(ng-click="withdraw()") withdraw
        .form-group
            hr
            label by default, your satoshi balance is only accessible by you with your password. the wallet is encrypted on your side and your password is never shared with us. this means you can be sure we can’t take your satoshis. however, it also leaves you with great responsibility to remember your password. if you forget your password, we will not be able to help you retrieve it, or your satoshis. they will be gone forever. however, if you wish to be able to reset your password in case you forget it, please check "i wish to remain safe" and enter your email address. you will receive an email with a verification link. this will keep your password with us in encrypted form and allow us to help you reset it in case you forget it.
            input(type='checkbox',ng-model='verifyemail')
            label i wish to remain safe. my email address is:
            input.form-control(type="text",ng-model="email")
            button.btn(ng-click="verify()") verify email
            br
            br
            input(type='checkbox',ng-model='backupwallet')
            label send me a backup of my wallet whenever there are any changes:
            br
            button.btn(ng-click="backup()") backup wallet
    include modal
