.appContainer {
  width: 320px;
  margin: auto;
}

.header {
  position: absolute;
}

.main {
  position: absolute;
  top: 192px;
  width: 100%;
  height: calc(100% - 192px);
  overflow-y: auto;
}

.main, .header{
	max-width: 320px;
	margin: 0 auto;
}

.mymodal {
    position:fixed;
    top:10%;
    z-index:1050;
    width:300px;
    margin: auto 10px;
    background-color:#fff;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,0.3);
    *border:1px solid #999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    outline:0;
    -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    box-shadow:0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box;

    .fullwidth { 
        width: 100%; 
        white-space: nowrap;
        overflow: hidden;
    }
}

.btn {
    border: 2px solid #3399cc;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    background-color: transparent; 
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    border-color: #dddddd;
}

.btn:hover, .btn:active {
    background-color: #3399cc;
    color: #f3f3f3;
}

.rightButtons {
  float: left;
  position: absolute;
  right: -2px;
  top: -2px;
}

.actionButton {
  display:inline;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #3399cc;
}

.controlBar {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
  .controlBarButton {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #3399cc;
    position: absolute;
  }
  .controlBarButtonRight {
    top: -2px;
    right: -2px;
  }
  .controlBarButtonLeft {
    top: -2px;
    left: -2px;
  }
}

