.appContainer {
  width: 320px;
  margin: auto;
}

.header {
  position: absolute;
}

.main {
  position: absolute;
  top: 146px;
  width: 100%;
  height: calc(100% - 146px);
  overflow-y: auto;
  background-color: #00ace2;
}

.main, .header{
	max-width: 320px;
	margin: 0 auto;
}
.modalbackground {
  left: 0;
  top: 0;
  background-color: #000000;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 1049;
}
.mymodal {
    position:fixed;
    top:10%;
    z-index:1050;
    width:250px;
    height: 250px;
    margin: auto 35px;
    background-color:#f2fbff;
    border:2px solid #047bb2;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    box-shadow:0 3px 7px rgba(0,0,0,0.3);
    .body {
      top: 75px;
      position: relative;
      text-align:center;
      padding:0px 25px;
    }
    .footer {
      position: relative;
      top: 100px;
      text-align: center;
    }
    .fullwidth { 
        width: 100%; 
        white-space: nowrap;
        overflow: hidden;
    }
}

.btn {
    border: 2px solid #00ace2;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f2fbff;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    border-color: #dddddd;
}

.btn:hover, .btn:active {
    background-color: #3399cc;
    color: #f3f3f3;
}

.rightButtons {
  float: left;
  position: absolute;
  right: -2px;
  top: -2px;
}

.actionButton {
  display:inline;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f2fbff;
}

.controlBar {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
  .controlBarButton {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #3399cc;
    position: absolute;
  }
  .controlBarButtonRight {
    top: -2px;
    right: -2px;
  }
  .controlBarButtonLeft {
    top: -2px;
    left: -2px;
  }
}