.giveget_form {
	&.showErrors {
		.formField {
			input[type=text].ng-invalid, input[type=number].ng-invalid {
				border: 2px solid #BF433F;
			}
		}
	}
}
.giveget_form{
	padding: 10px;
	.formField {
		margin-top: 10px;
		border-radius: 30px;
		background: #047bb2;
		color: #f2fbff;
		height: 30px;
		font-size: 12px;
		line-height: 30px;
		padding-left: 5px;
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}
		input[type=text], input[type=number]{
			padding-left: 10px;
			font-size: 20px;
			border: 0;
			height: 100%;
			border-radius: 30px;
			font-size: 12px;
			float:right;
			color: #047bb2;
		}
		input:focus {
			outline: 0;
		}
	}
	.error {
		color: #f2fbff;
		font-size: 12px;
		text-align: center;
	}
	.submit_btn{
		margin-top: 20px;
		text-align:center;
		img{
			width: 64px;
			height: 64px;
			cursor: pointer;
		}
	}
}