.meContainer {
	label {
		display: none;
	}
	.section {
		padding: 15px 5px;
		&.odd {
			background-color: #eaeaea;
		}
		.sectionTitle {
			font-size:3.4rem;
			color: #000;
			text-align: center;
			font-weight: bold;
		}
		.displayField {
			padding: 1rem;
			margin-top: 5px;
			text-align:center;
			background-color: #eaeaea;
			.addressLabel {
				width: 50px;
				line-height: 7rem;
				margin-left: 5px;
				float: left;
			}
			&.odd {
				background-color: #eaeaea;
			}
			color: #000;
			font-size: 3.4rem;
			padding-left: 5px;
			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
			    -webkit-appearance: none;
			    margin: 0;
			}
			div, input, a {
				border: 0;
				font-size: 3.4rem;
				margin-top: .3rem;
				margin-left: 2rem;
				height: 6rem;
				padding-left:2rem;
				text-align: left;
				overflow:hidden;
				text-overflow:ellipsis;
				color: #7c7c7c;
				background-color: #f2fbff;
				&.readOnly {
					color: #f2fbff;
					background-color: #073651;
				}
			}
			.rightButton {
				position: absolute;
				font-size: 3.4rem;
				right: 0;
				background-color: #db7932;
				color: #fff;
				border:0;
				line-height: 6rem;
			}

		}

		.belowSection {
			color: red;
		}
		.changeUsername {
			height: 5px;
			width: 100%;
			cursor: pointer;
			a {
				color: #f2fbff;
				margin-bottom: 10px;
				float: right;
			}
		}
	}
}