@font-face {
    font-family: 'museo_sans500';
    src: url('./font/MuseoSans_500-webfont.eot');
    src: url('./font/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/MuseoSans_500-webfont.woff') format('woff'),
         url('./font/MuseoSans_500-webfont.ttf') format('truetype'),
         url('./font/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "compass";
@import "_common";
@import "_profile";
@import "_navbar";
@import "_newaccount";
@import "_friendsList";
@import "_give";
@import "_thanx";
@import "_chat";
@import "_me";
@import "_transaction";
@import "main";

