@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa/Comfortaa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "compass";
@import "_common";
@import "_profile";
@import "_navbar";
@import "_newaccount";
@import "_friendsList";
@import "_give";
@import "_thanx";
@import "_chat";
@import "_me";
@import "main";

