#welcome_page{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 15px;
	max-width: 320px;
	.logo{
		margin: 0px 10px;
		margin-bottom: 20px;
	}
	.text{
		p{
			font-size: 16px;
			line-height: 15px;
		}
	}
	.fbcon{
		font-size: 16px;
		border: 2px solid #3399cc;
		border-radius: 100px;
		padding: 20px;
		line-height: 70px;
		margin-top: 15px;
		color: #333;
		&, &:hover{
			text-decoration: none;
		}
		&:hover{
			background-color: #3399cc;
			color: white;
		}
	}
}