head
    script(src="angular.min.js")
    script(src="underscore-min.js")
    script(src="bitcoinjs-min.js")
    script(src="app.js")
    script(src="services/me.js")
    script(src="services/invoices.js")
    script(src="controllers/invitefriends.js")
    script(src="controllers/newaccount.js")
    script(src="controllers/giveget.js")
    script(src="controllers/profile.js")
    script(src="facebook.js")
    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="main.css")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    title https://bitconnect.me - welcome
