head
    script(src="angular.min.js")
    script(src="underscore-min.js")
    script(src="bitcoinjs-min.js")
    script(src="thanxbits.js")
    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="main.css")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
