include header
body(ng-app="thanxbits")
    .surround(ng-controller="InviteFriendsCtrl")
        center(style="width:100%")
            div(ng-show="invoices.length > 0")
                div.green.pill(style="cursor:pointer",ng-click="acceptinvoices()")
                    span(ng-show="invoices.length == 1") You have a new request!
                    span(ng-show="invoices.length > 1") You have {{ invoices.length }} new requests!
            div
                span.bubble.inline(style="width:25%") {{ user.tnx }} x
                span.bubble.inline(style="width:25%") {{ user.btc }} b
                span(style="position:relative")
                    img(src="gear.png",style="position:absolute",ng-click="dropdown_visible = !dropdown_visible")
                    div.lightblue.bubble(style="position:absolute; top: 15px; right: -15px; width: 125px",ng-show="dropdown_visible")
                        div.menuitem(ng-click="giveget()") give/get
            div &nbsp;
            div invite your friends to bitconnect with you!
            div &nbsp;
            div(style="text-align:left") - for every friend you invite, both you and your friend will get 5432 thanxbits... just to say thanx :) every tenth friend you invite you will count double!
            div(style="text-align:left") - when a friend that you invited signs up, both you and your friend will get an additional 54321 thanxbits. every tenth friend that signs up will also count double!
            div &nbsp;
            div that's a lot of thanx! :)
            div so make sure your friends sign up!
            div &nbsp;
            a.btn(ng-click="kill()") kill account (for testing)
            div &nbsp;
            div(style="width:100%; height: 40px")
                div(style="width:50%; float:left")
                    div.bubble.inline.small selected: {{ numselected }}
                    div.bubble.inline.small = {{ numselected * 5432 }} x
                div(style="width:50%; float:right")
                    img.inline(ng-src="lens.png",style="cursor: pointer",ng-click="showsearchbar = !showsearchbar")
                    a.btn.inline(style="width:20%",ng-hide="numselected == filteredFriends.length",ng-click="selectAll()") all
                    a.btn.inline(style="width:20%",ng-show="numselected == filteredFriends.length",ng-click="selectNone()") clear
                    a.btn.inline(style="width:20%",ng-click="invite()") invite
            div
                input(type="text",ng-show="showsearchbar",placeholder="Search",ng-model="searchstring")
            div &nbsp;
                
            div(style="position:relative")
                div.bubble(ng-repeat="(i,friend) in visibleFriends",style="position:absolute; left:{{ i%2 * 150 }}px; top:{{ (i-(i%2)) * 40}}px; width: 145px; height: 75px; overflow-h: hidden; cursor: pointer",onclick="wscope.selectFriend({{friend.id}})")
                    img(ng-src="{{friend.picture.data.url}}",style="position:absolute; left: 0; top: 0; height:75px; width:75px")
                    div(style="position:absolute; left: 80px; top: 17px") {{ friend.first_name }}
                    div(style="position:absolute; left: 80px; top: 37px") {{ friend.last_name }}
                    img(ng-src="checkmark.png",ng-show="selected[friend.id]",style="position:absolute; left: 82px; bottom: 7px")

        .modal.bubble(ng-show="message.body")
            .modal-body
                span(style="float:right",ng-click="message = null") x
                div(style="text-align:justify",ng-bind-html-unsafe="message.body")
            .modal-footer
                center(style="width:90%; margin-left: 5%; margin-right:5%")
                button.btn.fullwidth(ng-show="message.actiontext",ng-click="message.action()") {{ message.actiontext }}
                button.btn.fullwidth(ng-click="message = null") {{ message.canceltext || "Done" }}

