include partials/header
   
body
    .surround(ng-controller="ProfileCtrl")
        include navbar
        img(style="width:320px; height:320px",ng-src="/pic?size=320&username={{ username }}")
        div &nbsp;
        .row
            center.col-xs-6
                button.btn(ng-click="gotoGive()") Give
            center.col-xs-6
                button.btn(ng-click="gotoGet()") Get
