include partials/header
   
body
    .surround
        center
            div 1. you promise to be nice to everyone and be nice to everyone
            div
                span 2. we promise to love you forever and ever and shower you with all our unrequited thanx
            div &nbsp;
            a(href="/") back to sanity