head
    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="main.css")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    title https://bitconnect.me - welcome
body
    .surround
        center(style="width:100%")
            div thanx for coming by
            div bitconnect is a new way
            div to connect with your friends
            div please click the big button below
            div &nbsp;
            a.button.btn(href="/login") bitconnect with facebook
