head
    include partials/meta

    title https://bitconnect.me

    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="css/main.css")
    link(rel="stylesheet",type="text/css",href="css/welcome.css")
    link(rel="stylesheet",type="text/css",href="css/bootstrap.min.css")
body
    center#welcome_page
        img.logo(src="/img/bitconnectsbwx.svg")
        center.text
            p thanx
            p for coming by
            p bitconnect is a new way
            p to connect with your friends
            p it’s a place where thanx means a lot
            p please click the button below
            p you will receive 543 thanx
        a.fbcon(href="/login") bitconnect me with facebook
    script
        // When ready...
        window.addEventListener("load",function() {
            // Set a timeout...
            setTimeout(function(){
                // Hide the address bar!
                window.scrollTo(0, 1);
            }, 0);
        });
