include header
body(ng-app="thanxbits")
    .topbar https://bitconnect.me - welcome
    .surround
        center(style="width:100%",ng-controller="ThanxCtrl")
            div thanx for coming by
            div bitconnect is a new way
            div to connect with your friends
            div please click the big button below
            div &nbsp;
            a.btn(href="/login") bitconnect with facebook
