html
head
    title bitconnect
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='google', content='notranslate')
    meta(name='apple-mobile-web-app-title', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='format-detection', content='telephone=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/app.css', rel='stylesheet')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/apple/touch-icon-ipad76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/apple/touch-icon-iphone-retina120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/apple/touch-icon-ipad-retina152x152.png')
    link(rel='apple-touch-icon', href='../img/apple/touch-icon-iphone60x60.png')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
  body
    .wrapper.indexpage
      .top
        .inner
          .logo
            img(src='/img/bitconnectlogobig.png')
          .desc
            | bitcoin messenger
            br
            | by automatic for the people
            br
            br
            | a new way to connect,
            br
            |where thanx means a lot
          .mainpic
            img(src='/img/mainpic.png')
      .clear
      .bottom
        .inner
          a.connectbut(href="/login")
            | connect with facebook 
            img(src='/img/arrowright.png')
          br
          .clear
          if tried
              div
                | Sorry, bitconnect is currently invitation-only. Please ask a friend who is signed up to invite you, or you can wait and we'll send you a facebook notification when you can connect.
          .clear
          div
            | by clicking the button above you
            br
            | agree to the 
            a(href="/terms") terms and conditions
          .clear
          br
          br
          br
          br
          .nav(style="display:none")
            a(href='#') home
            a(href='#') faq
