head
    include partials/meta

    title https://bitconnect.me

    link(rel="stylesheet",type="text/css",href="css/main.css")
    link(rel="stylesheet",type="text/css",href="css/welcome.css")
    link(rel="stylesheet",type="text/css",href="css/bootstrap.min.css")
body
    .appContainer
        #welcome_page
            img.logo(src="/img/logo.png")
            .title
                div.medium social bitcoin wallet
                div by automatic for the people
            div.medium bitconnect, a new way to connect
            div.medium a place where thanx means a lot
            a.fbcon(href="/login") bitconnect me with facebook
            div.terms
                | byaaa clicking the button above you agree
                br
                | to our 
                u terms and conditions
            .appDownload
                div or download our app for
                span
                    img.downloadButton(src="img/googleplay.png")
                    img.downloadButton(src="img/appstore.png")
        script.
            // When ready...
            window.addEventListener("load",function() {
                // Set a timeout...
                setTimeout(function(){
                    // Hide the address bar!
                    window.scrollTo(0, 1);
                }, 0);
            });
