head
    link(rel="stylesheet",media="screen",href="http://openfontlibrary.org/face/comfortaa",type="text/css")
    link(rel="stylesheet",type="text/css",href="main.css")
    link(rel="stylesheet",type="text/css",href="bootstrap.min.css")
    title https://bitconnect.me
body
    .surround
        center(style="width:100%")
            div &nbsp;
            img(style="position:center",src="/img/bitconnectsbwx.svg")
            div &nbsp;
            div(style="font-size:33px;") thanx for coming by
            div(style="font-size:33px;") bitconnect is a new way
            div(style="font-size:33px;") to connect with your friends
            dive(style="font-size:33px;") it’s a place where thanx means a lot
            div(style="font-size:33px;") please click the button below
            div(style="font-size:33px;") you will receive 543 thanx
            div &nbsp;
            a.button.btn.fbcon(href="/login") bitconnect me with facebook
