@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_common.scss */
.appContainer {
  width: 320px;
  margin: auto;
}

/* line 6, ../sass/_common.scss */
.header {
  position: absolute;
}

/* line 10, ../sass/_common.scss */
.main {
  position: absolute;
  top: 146px;
  width: 100%;
  height: calc(100% - 146px);
  overflow-y: auto;
  background-color: #00ace2;
}

/* line 19, ../sass/_common.scss */
.main, .header {
  max-width: 320px;
  margin: 0 auto;
}

/* line 23, ../sass/_common.scss */
.modalbackground {
  left: 0;
  top: 0;
  background-color: #000000;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 1049;
}

/* line 33, ../sass/_common.scss */
.mymodal {
  position: fixed;
  top: 10%;
  z-index: 1050;
  width: 250px;
  height: 250px;
  margin: auto 35px;
  background-color: #f2fbff;
  border: 2px solid #047bb2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
/* line 48, ../sass/_common.scss */
.mymodal .body {
  top: 75px;
  position: relative;
  text-align: center;
  padding: 0px 25px;
}
/* line 54, ../sass/_common.scss */
.mymodal .footer {
  position: relative;
  top: 100px;
  text-align: center;
}
/* line 59, ../sass/_common.scss */
.mymodal .fullwidth {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 66, ../sass/_common.scss */
.btn {
  border: 2px solid #00ace2;
  border-radius: 30px;
  cursor: pointer;
  background-color: #f2fbff;
}

/* line 73, ../sass/_common.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  border-color: #dddddd;
}

/* line 77, ../sass/_common.scss */
.btn:hover, .btn:active {
  background-color: #3399cc;
  color: #f3f3f3;
}

/* line 82, ../sass/_common.scss */
.rightButtons {
  float: left;
  position: absolute;
  right: -2px;
  top: -2px;
}

/* line 89, ../sass/_common.scss */
.actionButton {
  display: inline;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f2fbff;
}

/* line 98, ../sass/_common.scss */
.controlBar {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
}
/* line 104, ../sass/_common.scss */
.controlBar .controlBarButton {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #3399cc;
  position: absolute;
}
/* line 112, ../sass/_common.scss */
.controlBar .controlBarButtonRight {
  top: -2px;
  right: -2px;
}
/* line 116, ../sass/_common.scss */
.controlBar .controlBarButtonLeft {
  top: -2px;
  left: -2px;
}

/* line 1, ../sass/_profile.scss */
.profileButton {
  width: 150px;
  height: 150px;
  padding: 20px;
}

/* line 7, ../sass/_profile.scss */
.profileButtons {
  text-align: center;
}

/* line 11, ../sass/_profile.scss */
.profilePicture {
  border-radius: 50%;
  border: 2px solid #3399cc;
}

/* line 15, ../sass/_profile.scss */
.profileName {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

/* line 2, ../sass/_navbar.scss */
.header .navbar-default {
  background-color: transparent;
  border: none;
}
/* line 8, ../sass/_navbar.scss */
.header nav.navbar .moneybar {
  margin-top: 5px;
  background-color: #f2fbff;
}
/* line 11, ../sass/_navbar.scss */
.header nav.navbar .moneybar span {
  display: inline-block;
  text-align: center;
  position: absolute;
  font-size: 12px;
  border: 2px solid #00ace2;
  cursor: pointer;
}
/* line 12, ../sass/_navbar.scss */
.header nav.navbar .moneybar span.sat {
  left: 0;
  width: 36%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
/* line 18, ../sass/_navbar.scss */
.header nav.navbar .moneybar span.tnx {
  left: 105px;
  border-radius: 30px;
  width: 36%;
  z-index: 2;
  background-color: #f2fbff;
}
/* line 25, ../sass/_navbar.scss */
.header nav.navbar .moneybar span.dollar {
  right: 0;
  width: 36%;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
/* line 37, ../sass/_navbar.scss */
.header nav.navbar .moneybar span.selected, .header nav.navbar .moneybar span:hover {
  background-color: #00ace2;
  color: #f2fbff;
}
/* line 44, ../sass/_navbar.scss */
.header nav.navbar ul.nav.iconbar {
  background-color: #073651;
  white-space: nowrap;
  display: inline-flex;
  text-align: center;
  padding-top: 15px;
  color: #047bb2;
  padding-bottom: 15px;
  width: 100%;
}
/* line 53, ../sass/_navbar.scss */
.header nav.navbar ul.nav.iconbar li {
  cursor: pointer;
}
/* line 55, ../sass/_navbar.scss */
.header nav.navbar ul.nav.iconbar li td {
  padding: 0px;
}
/* line 56, ../sass/_navbar.scss */
.header nav.navbar ul.nav.iconbar li td.selected {
  color: #f2fbff;
}
/* line 63, ../sass/_navbar.scss */
.header nav.navbar ul.nav > li:not(.bubble) {
  display: inline-block;
}
/* line 68, ../sass/_navbar.scss */
.header nav.navbar ul.nav > li table tr td img {
  width: 64px;
  padding: 2px;
}
/* line 73, ../sass/_navbar.scss */
.header nav.navbar ul.nav > li .count {
  position: absolute;
  color: #073651;
  width: 23px;
  height: 23px;
  line-height: 18px;
  background-color: #f2fbff;
  border: 2px solid #073651;
  border-radius: 50%;
  z-index: 1000;
  font-size: 10px;
}

/* line 1, ../sass/_newaccount.scss */
.newAccountMain {
  max-width: 320px;
}

/* line 5, ../sass/_newaccount.scss */
.newaccount {
  color: red;
}

/* line 9, ../sass/_newaccount.scss */
.username {
  width: 80%;
  text-align: center;
}

/* line 2, ../sass/_friendsList.scss */
.inviteContainer .progress {
  margin: auto;
  background: #073651;
  border-radius: 12px;
  width: 90%;
  height: 25px;
}
/* line 9, ../sass/_friendsList.scss */
.inviteContainer .progress-bar {
  line-height: 25px;
  text-align: right;
  background: #f2fbff;
  border-radius: 12px;
  color: #073657;
}
/* line 16, ../sass/_friendsList.scss */
.inviteContainer .controlBar {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border: 0;
  height: 25px;
  width: 90%;
}
/* line 24, ../sass/_friendsList.scss */
.inviteContainer .controlBar .searchButton {
  width: auto;
  height: 100%;
  padding: 0;
}
/* line 30, ../sass/_friendsList.scss */
.inviteContainer .controlBar div {
  line-height: 23px;
  height: 100%;
  border-radius: 30px;
  background-color: #073651;
  padding: 0px 12px;
  color: #f2fbff;
}
/* line 37, ../sass/_friendsList.scss */
.inviteContainer .controlBar div.search {
  background-color: #f2fbff;
  cursor: pointer;
}
/* line 41, ../sass/_friendsList.scss */
.inviteContainer .controlBar div.invite {
  cursor: pointer;
}
/* line 44, ../sass/_friendsList.scss */
.inviteContainer .controlBar div.left {
  float: left;
  margin-right: 4px;
}
/* line 48, ../sass/_friendsList.scss */
.inviteContainer .controlBar div.right {
  float: right;
}
/* line 53, ../sass/_friendsList.scss */
.inviteContainer .searchLine {
  background-color: f2fbff;
  border: 0;
  height: 25px;
  margin-top: 5px;
  width: 90%;
}
/* line 60, ../sass/_friendsList.scss */
.inviteContainer .friendsList {
  margin: auto 1px;
  margin-top: 10px;
}
/* line 63, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend {
  position: relative;
  background-color: #f2fbff;
  height: 50px;
  border: 2px solid #f2fbff;
  border-radius: 30px;
  margin-bottom: 2px;
}
/* line 70, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend img.friendImg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f2fbff;
}
/* line 80, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .body .name {
  position: absolute;
  left: 60px;
  top: 13px;
  width: 175px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 90, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .body .check4invite {
  position: absolute;
  height: 16px;
  right: 10px;
  top: 15px;
}
/* line 96, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .body .giveget {
  position: absolute;
  right: 26px;
  top: 10px;
}
/* line 100, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .body .giveget img {
  width: 26px;
}
/* line 103, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .body .giveget.give {
  right: 53px;
}
/* line 108, ../sass/_friendsList.scss */
.inviteContainer .friendsList .friend .invited {
  background-color: #3399cc;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
}

/* line 5, ../sass/_give.scss */
.giveGetPage .giveget_form.showErrors .formField input[type=text].ng-invalid, .giveGetPage .giveget_form.showErrors .formField input[type=number].ng-invalid {
  border: 2px solid #BF433F;
}
/* line 11, ../sass/_give.scss */
.giveGetPage .giveget_form {
  padding: 10px;
}
/* line 13, ../sass/_give.scss */
.giveGetPage .giveget_form .formField {
  margin-top: 10px;
  border-radius: 30px;
  background: #047bb2;
  color: #f2fbff;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 5px;
}
/* line 23, ../sass/_give.scss */
.giveGetPage .giveget_form .formField input[type=number]::-webkit-inner-spin-button,
.giveGetPage .giveget_form .formField input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 27, ../sass/_give.scss */
.giveGetPage .giveget_form .formField input[type=text], .giveGetPage .giveget_form .formField input[type=number] {
  padding-left: 10px;
  font-size: 20px;
  border: 0;
  height: 100%;
  border-radius: 30px;
  font-size: 12px;
  float: right;
  color: #047bb2;
}
/* line 37, ../sass/_give.scss */
.giveGetPage .giveget_form .formField input:focus {
  outline: 0;
}
/* line 41, ../sass/_give.scss */
.giveGetPage .giveget_form .error {
  color: #f2fbff;
  font-size: 12px;
  text-align: center;
}
/* line 46, ../sass/_give.scss */
.giveGetPage .giveget_form .submit_btn {
  margin-top: 20px;
  text-align: center;
}
/* line 49, ../sass/_give.scss */
.giveGetPage .giveget_form .submit_btn img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
/* line 56, ../sass/_give.scss */
.giveGetPage .requests {
  padding: 0 20px;
}
/* line 60, ../sass/_give.scss */
.giveGetPage .requests .request .body .accept, .giveGetPage .requests .request .body .reject {
  height: 10px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 67, ../sass/_give.scss */
.giveGetPage .requests .request .body .reject {
  right: 0px;
}
/* line 71, ../sass/_give.scss */
.giveGetPage .requests .request .requestActionButton {
  width: 30px;
  height: 30px;
  top: 10px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

/* line 1, ../sass/_thanx.scss */
.thanx {
  padding: 0 20px;
}
/* line 4, ../sass/_thanx.scss */
.thanx .history .row {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
}

/* line 15, ../sass/_thanx.scss */
.thanx label, .giveGetPage label {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #f2fbff;
}
/* line 22, ../sass/_thanx.scss */
.thanx .requests .request, .thanx .history .request, .giveGetPage .requests .request, .giveGetPage .history .request {
  position: relative;
  background-color: #f2fbff;
  font-size: 12px;
  height: 50px;
  border: 2px solid #f2fbff;
  border-radius: 30px;
  margin-bottom: -2px;
  color: #073651;
}
/* line 31, ../sass/_thanx.scss */
.thanx .requests .request img.friendImg, .thanx .history .request img.friendImg, .giveGetPage .requests .request img.friendImg, .giveGetPage .history .request img.friendImg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}
/* line 41, ../sass/_thanx.scss */
.thanx .requests .request .body .fbname, .thanx .history .request .body .fbname, .giveGetPage .requests .request .body .fbname, .giveGetPage .history .request .body .fbname {
  position: absolute;
  left: 70px;
  top: 0px;
}
/* line 46, ../sass/_thanx.scss */
.thanx .requests .request .body .tnx, .thanx .history .request .body .tnx, .giveGetPage .requests .request .body .tnx, .giveGetPage .history .request .body .tnx {
  position: absolute;
  left: 70px;
  top: 30px;
}
/* line 51, ../sass/_thanx.scss */
.thanx .requests .request .body .sat, .thanx .history .request .body .sat, .giveGetPage .requests .request .body .sat, .giveGetPage .history .request .body .sat {
  position: absolute;
  left: 70px;
  top: 30px;
  max-width: 100px;
  overflow: hidden;
}
/* line 57, ../sass/_thanx.scss */
.thanx .requests .request .body .sat.unconfirmed, .thanx .history .request .body .sat.unconfirmed, .giveGetPage .requests .request .body .sat.unconfirmed, .giveGetPage .history .request .body .sat.unconfirmed {
  color: red;
}
/* line 62, ../sass/_thanx.scss */
.thanx .requests .request .body .message, .thanx .history .request .body .message, .giveGetPage .requests .request .body .message, .giveGetPage .history .request .body .message {
  position: absolute;
  left: 70px;
  top: 15px;
  font-size: 10px;
  width: 147px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

/* line 2, ../sass/_me.scss */
.meContainer label {
  display: none;
}
/* line 5, ../sass/_me.scss */
.meContainer .section {
  padding: 15px 5px;
}
/* line 7, ../sass/_me.scss */
.meContainer .section.odd {
  background-color: #047bb2;
}
/* line 10, ../sass/_me.scss */
.meContainer .section .sectionTitle {
  font-size: 12px;
  color: #f2fbff;
  text-align: center;
  font-weight: bold;
}
/* line 16, ../sass/_me.scss */
.meContainer .section .displayField {
  margin-top: 5px;
  border-radius: 30px;
  background-color: #047bb2;
  color: #f2fbff;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 5px;
}
/* line 20, ../sass/_me.scss */
.meContainer .section .displayField.odd {
  background-color: #00ace2;
}
/* line 29, ../sass/_me.scss */
.meContainer .section .displayField input[type=number]::-webkit-inner-spin-button,
.meContainer .section .displayField input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 33, ../sass/_me.scss */
.meContainer .section .displayField div, .meContainer .section .displayField input {
  border: 0;
  height: 100%;
  border-radius: 30px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #047bb2;
  background-color: #f2fbff;
}
/* line 45, ../sass/_me.scss */
.meContainer .section .displayField div.readOnly, .meContainer .section .displayField input.readOnly {
  color: #f2fbff;
  background-color: #073651;
}
/* line 50, ../sass/_me.scss */
.meContainer .section .displayField .rightButton {
  position: absolute;
  right: 0;
  background-color: #f2fbff;
  border: 2px solid #047bb2;
  line-height: 25px;
  border-radius: 30px;
}
/* line 58, ../sass/_me.scss */
.meContainer .section .displayField input:focus {
  outline: 0;
}

/* line 1, ../sass/main.scss */
* {
  font-family: "Comfortaa";
}

/* line 2, ../sass/main.scss */
div.topbar {
  border-bottom: 1px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
}

/* line 11, ../sass/main.scss */
.bubble {
  border: 2px solid #f2fbff;
  border-radius: 30px;
  cursor: pointer;
  background-color: #f2fbff;
  padding: 6px 12px;
  color: #428bca;
}

/* line 19, ../sass/main.scss */
xxxdiv.surround {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/* line 32, ../sass/main.scss */
.inline {
  display: inline-block;
}

/* line 35, ../sass/main.scss */
.small {
  font-size: 75%;
}

/* line 39, ../sass/main.scss */
.tiny {
  font-size: 70%;
}

/* line 42, ../sass/main.scss */
.blue {
  background-color: #88f;
}

/* line 43, ../sass/main.scss */
.green {
  background-color: #4f4;
}

/* line 44, ../sass/main.scss */
.red {
  background-color: #f77;
}

/* line 45, ../sass/main.scss */
.red-outline {
  border: solid 2px #f77;
}

/* line 46, ../sass/main.scss */
.semilightblue {
  background-color: #aaf;
}

/* line 47, ../sass/main.scss */
.lightblue {
  background-color: #ddf;
}

/* line 48, ../sass/main.scss */
.menuitem {
  padding: 5px;
  background-color: #ddf;
}

/* line 49, ../sass/main.scss */
.menuitem:hover {
  background-color: #aaf;
}

/* line 50, ../sass/main.scss */
.white {
  background-color: #fff;
}

/* line 51, ../sass/main.scss */
.grey {
  background-color: #ddd;
}

/* line 52, ../sass/main.scss */
.pill {
  border-radius: 20px;
  text-align: center;
}

/* line 56, ../sass/main.scss */
.bigpill {
  border-radius: 5px;
  text-align: center;
  width: 500px;
  max-width: 500px;
}

/* line 62, ../sass/main.scss */
.monospace {
  font-family: monospace;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1.1em;
  font-size: small;
}

/* line 69, ../sass/main.scss */
.squish {
  line-height: 1.2em;
  font-size: small;
}

/* line 73, ../sass/main.scss */
.largetext {
  font-size: 18px;
}

/* line 76, ../sass/main.scss */
.verylargetext {
  font-size: 72px;
  height: 100px;
}

/* line 80, ../sass/main.scss */
.signature {
  font-family: monospace;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1.1em;
  height: 60px !important;
  font-size: small;
}

/* line 88, ../sass/main.scss */
.cmdline {
  text-align: left;
}

/* line 91, ../sass/main.scss */
.cmdline::before {
  content: "> ";
  color: #888;
}

/* line 95, ../sass/main.scss */
.tabselect {
  padding: 10px;
}

/* line 98, ../sass/main.scss */
.tabwindow {
  position: relative;
}

/* line 101, ../sass/main.scss */
.tabwindow .tabheader {
  position: absolute;
  top: 0px;
  height: 40px;
}

/* line 106, ../sass/main.scss */
.tabheader .tabselect {
  display: inline-block;
}

/* line 109, ../sass/main.scss */
.tabwindow .tabbody {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

/* line 116, ../sass/main.scss */
.raise4 {
  position: relative;
  top: -4px;
}

/* line 121, ../sass/main.scss */
.fullheight {
  height: 100%;
}

/* line 122, ../sass/main.scss */
table.tb {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  table-layout: fixed;
}

/* line 129, ../sass/main.scss */
table.tb tr td {
  word-wrap: break-word;
}

/* line 132, ../sass/main.scss */
td {
  position: relative;
}

/* line 135, ../sass/main.scss */
.tab {
  position: absolute;
  height: 100%;
}

/* line 139, ../sass/main.scss */
.tab table.tb {
  padding: 20px;
}

/* line 142, ../sass/main.scss */
td.td-label {
  width: 80px;
}

/* line 145, ../sass/main.scss */
td.td-wide-label {
  width: 130px;
}

/* line 148, ../sass/main.scss */
.txcheckbox {
  width: 15px;
  height: 15px;
}

/* line 152, ../sass/main.scss */
.help {
  font-weight: strong;
  font-size: 105%;
  position: absolute;
  left: -15px;
  top: 4px;
  color: #44f;
  cursor: pointer;
  cursor: hand;
}

/* line 163, ../sass/main.scss */
.nav > li:not(.bubble) {
  display: inline-block !important;
}

/* line 166, ../sass/main.scss */
.nav-justified {
  text-align: center !important;
}

/* line 169, ../sass/main.scss */
.navbar-nav {
  margin-left: 0 !important;
}
