@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_common.scss */
.main {
  max-width: 320px;
  margin: 0 auto;
}

/* line 6, ../sass/_common.scss */
.mymodal {
  position: fixed;
  top: 10%;
  z-index: 1050;
  width: 300px;
  margin: auto 10px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 27, ../sass/_common.scss */
.mymodal .fullwidth {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 34, ../sass/_common.scss */
.btn {
  border: 2px solid #3399cc;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

/* line 42, ../sass/_common.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  border-color: #dddddd;
}

/* line 46, ../sass/_common.scss */
.btn:hover, .btn:active {
  background-color: #3399cc;
  color: #f3f3f3;
}

/* line 51, ../sass/_common.scss */
.rightButtons {
  float: left;
  position: absolute;
  right: -2px;
  top: -2px;
}

/* line 58, ../sass/_common.scss */
.actionButton {
  display: inline;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #3399cc;
}

/* line 66, ../sass/_common.scss */
.controlBar {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
}
/* line 72, ../sass/_common.scss */
.controlBar .controlBarButton {
  display: inline;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #3399cc;
  position: absolute;
}
/* line 79, ../sass/_common.scss */
.controlBar .controlBarButtonRight {
  top: -2px;
  right: -2px;
}
/* line 83, ../sass/_common.scss */
.controlBar .controlBarButtonLeft {
  top: -2px;
  left: -2px;
}

/* line 1, ../sass/_profile.scss */
.profileButton {
  width: 150px;
  height: 150px;
  padding: 20px;
}

/* line 7, ../sass/_profile.scss */
.profileButtons {
  text-align: center;
}

/* line 11, ../sass/_profile.scss */
.profilePicture {
  border-radius: 50%;
  border: 2px solid #3399cc;
}

/* line 15, ../sass/_profile.scss */
.profileName {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

/* line 3, ../sass/_navbar.scss */
.main .navbar-default {
  background-color: transparent;
  border: none;
}
/* line 10, ../sass/_navbar.scss */
.main nav.navbar .moneybar {
  margin-top: 5px;
}
/* line 12, ../sass/_navbar.scss */
.main nav.navbar .moneybar p {
  font-size: 18px;
  padding: 3px 6px;
  text-align: center;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin: 0px 1px;
  cursor: pointer;
}
/* line 20, ../sass/_navbar.scss */
.main nav.navbar .moneybar p:last-child {
  margin-top: -2px;
}
/* line 23, ../sass/_navbar.scss */
.main nav.navbar .moneybar p.selected, .main nav.navbar .moneybar p:hover {
  background-color: #3399cc;
  color: white;
}
/* line 27, ../sass/_navbar.scss */
.main nav.navbar .moneybar p small {
  display: none;
  padding-left: 20px;
  color: green;
}
/* line 35, ../sass/_navbar.scss */
.main nav.navbar ul.nav.iconbar {
  white-space: nowrap;
  display: inline-flex;
  text-align: center;
  width: 100%;
}
/* line 40, ../sass/_navbar.scss */
.main nav.navbar ul.nav.iconbar li {
  cursor: pointer;
}
/* line 42, ../sass/_navbar.scss */
.main nav.navbar ul.nav.iconbar li td {
  padding: 0px;
}
/* line 47, ../sass/_navbar.scss */
.main nav.navbar ul.nav > li:not(.bubble) {
  display: inline-block;
}
/* line 52, ../sass/_navbar.scss */
.main nav.navbar ul.nav > li table tr td img {
  width: 64px;
  padding: 2px;
}
/* line 56, ../sass/_navbar.scss */
.main nav.navbar ul.nav > li table tr td .count {
  position: absolute;
  center: 0px;
  border-radius: 0px;
  z-index: 200;
  background-color: #fff;
}

/* line 1, ../sass/_newaccount.scss */
.newaccount {
  color: red;
}

/* line 5, ../sass/_newaccount.scss */
.username {
  width: 80%;
  text-align: center;
}

/* line 1, ../sass/_friendsList.scss */
.friendsList {
  margin: auto 1px;
  margin-top: 10px;
}
/* line 4, ../sass/_friendsList.scss */
.friendsList .friend {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: 2px;
}
/* line 10, ../sass/_friendsList.scss */
.friendsList .friend img.friendImg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #3399cc;
}
/* line 19, ../sass/_friendsList.scss */
.friendsList .friend .body .name {
  position: absolute;
  left: 60px;
  top: 13px;
  width: 175px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 29, ../sass/_friendsList.scss */
.friendsList .friend .body .check4invite {
  position: absolute;
  height: 16px;
  right: 10px;
  top: 15px;
}
/* line 35, ../sass/_friendsList.scss */
.friendsList .friend .body .giveget {
  position: absolute;
  right: 26px;
  top: 10px;
}
/* line 39, ../sass/_friendsList.scss */
.friendsList .friend .body .giveget img {
  width: 26px;
}
/* line 42, ../sass/_friendsList.scss */
.friendsList .friend .body .giveget.give {
  right: 53px;
}
/* line 47, ../sass/_friendsList.scss */
.friendsList .friend .invited {
  background-color: #3399cc;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
}

/* line 1, ../sass/_give.scss */
.giveget_form {
  padding: 20px;
}
/* line 3, ../sass/_give.scss */
.giveget_form input[type=text], .giveget_form input[type=number], .giveget_form textarea {
  /*-webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;*/
  font-size: 20px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  height: 35px !important;
}
/* line 13, ../sass/_give.scss */
.giveget_form textarea {
  resize: none;
  height: 70px !important;
  border-radius: 18px;
}
/* line 18, ../sass/_give.scss */
.giveget_form label {
  font-size: 18px;
  font-weight: normal;
  display: none;
}
/* line 26, ../sass/_give.scss */
.giveget_form .submit_btn {
  text-align: center;
}
/* line 28, ../sass/_give.scss */
.giveget_form .submit_btn a {
  font-size: 20px;
  border: 2px solid #3399cc;
  border-radius: 20px;
}
/* line 33, ../sass/_give.scss */
.giveget_form .submit_btn img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

/* line 1, ../sass/_thanx.scss */
.thanx {
  padding: 0 20px;
}
/* line 3, ../sass/_thanx.scss */
.thanx label {
  display: block;
}
/* line 8, ../sass/_thanx.scss */
.thanx .requests .request, .thanx .history .request {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
}
/* line 16, ../sass/_thanx.scss */
.thanx .requests .request img.friendImg, .thanx .history .request img.friendImg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #3399cc;
}
/* line 25, ../sass/_thanx.scss */
.thanx .requests .request .body .fbname, .thanx .history .request .body .fbname {
  position: absolute;
  left: 60px;
  top: 0px;
}
/* line 30, ../sass/_thanx.scss */
.thanx .requests .request .body .tnx, .thanx .history .request .body .tnx {
  position: absolute;
  right: 30px;
  top: 0px;
}
/* line 37, ../sass/_thanx.scss */
.thanx .requests .request .body .sat, .thanx .history .request .body .sat {
  position: absolute;
  right: 30px;
  top: 0px;
  max-width: 100px;
  overflow: hidden;
}
/* line 43, ../sass/_thanx.scss */
.thanx .requests .request .body .sat.unconfirmed, .thanx .history .request .body .sat.unconfirmed {
  color: red;
}
/* line 48, ../sass/_thanx.scss */
.thanx .requests .request .body .message, .thanx .history .request .body .message {
  position: absolute;
  left: 51px;
  top: 27px;
  width: 147px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
/* line 59, ../sass/_thanx.scss */
.thanx .requests .request .body .accept, .thanx .requests .request .body .reject, .thanx .history .request .body .accept, .thanx .history .request .body .reject {
  height: 10px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 66, ../sass/_thanx.scss */
.thanx .requests .request .body .reject, .thanx .history .request .body .reject {
  right: 0px;
}
/* line 75, ../sass/_thanx.scss */
.thanx .history .row {
  position: relative;
  height: 50px;
  border: 2px solid #3399cc;
  border-radius: 30px;
  margin-bottom: -2px;
}

/* line 1, ../sass/main.scss */
* {
  font-family: "Comfortaa";
}

/* line 2, ../sass/main.scss */
div.topbar {
  border-bottom: 1px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
}

/* line 11, ../sass/main.scss */
.bubble {
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px 6px;
  text-align: center;
}

/* line 17, ../sass/main.scss */
xxxdiv.surround {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/* line 30, ../sass/main.scss */
.inline {
  display: inline-block;
}

/* line 33, ../sass/main.scss */
.small {
  font-size: 75%;
}

/* line 37, ../sass/main.scss */
.tiny {
  font-size: 70%;
}

/* line 40, ../sass/main.scss */
.blue {
  background-color: #88f;
}

/* line 41, ../sass/main.scss */
.green {
  background-color: #4f4;
}

/* line 42, ../sass/main.scss */
.red {
  background-color: #f77;
}

/* line 43, ../sass/main.scss */
.red-outline {
  border: solid 2px #f77;
}

/* line 44, ../sass/main.scss */
.semilightblue {
  background-color: #aaf;
}

/* line 45, ../sass/main.scss */
.lightblue {
  background-color: #ddf;
}

/* line 46, ../sass/main.scss */
.menuitem {
  padding: 5px;
  background-color: #ddf;
}

/* line 47, ../sass/main.scss */
.menuitem:hover {
  background-color: #aaf;
}

/* line 48, ../sass/main.scss */
.white {
  background-color: #fff;
}

/* line 49, ../sass/main.scss */
.grey {
  background-color: #ddd;
}

/* line 50, ../sass/main.scss */
.pill {
  border-radius: 20px;
  text-align: center;
}

/* line 54, ../sass/main.scss */
.bigpill {
  border-radius: 5px;
  text-align: center;
  width: 500px;
  max-width: 500px;
}

/* line 60, ../sass/main.scss */
.monospace {
  font-family: monospace;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1.1em;
  font-size: small;
}

/* line 67, ../sass/main.scss */
.squish {
  line-height: 1.2em;
  font-size: small;
}

/* line 71, ../sass/main.scss */
.largetext {
  font-size: 18px;
}

/* line 74, ../sass/main.scss */
.verylargetext {
  font-size: 72px;
  height: 100px;
}

/* line 78, ../sass/main.scss */
.signature {
  font-family: monospace;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1.1em;
  height: 60px !important;
  font-size: small;
}

/* line 86, ../sass/main.scss */
.cmdline {
  text-align: left;
}

/* line 89, ../sass/main.scss */
.cmdline::before {
  content: "> ";
  color: #888;
}

/* line 93, ../sass/main.scss */
.tabselect {
  padding: 10px;
}

/* line 96, ../sass/main.scss */
.tabwindow {
  position: relative;
}

/* line 99, ../sass/main.scss */
.tabwindow .tabheader {
  position: absolute;
  top: 0px;
  height: 40px;
}

/* line 104, ../sass/main.scss */
.tabheader .tabselect {
  display: inline-block;
}

/* line 107, ../sass/main.scss */
.tabwindow .tabbody {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

/* line 114, ../sass/main.scss */
.raise4 {
  position: relative;
  top: -4px;
}

/* line 119, ../sass/main.scss */
input[type='text'], input[type='password'] {
  height: 25px !important;
  word-wrap: break-word;
  height: 25px !important;
  word-wrap: break-word;
  padding-left: 5px;
  border: 2px solid #3399cc;
  border: 2px solid #3399cc;
  *border: 2px solid #3399cc;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}

/* line 132, ../sass/main.scss */
.fullheight {
  height: 100%;
}

/* line 133, ../sass/main.scss */
table.tb {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  table-layout: fixed;
}

/* line 140, ../sass/main.scss */
table.tb tr td {
  word-wrap: break-word;
}

/* line 143, ../sass/main.scss */
td {
  position: relative;
}

/* line 146, ../sass/main.scss */
.tab {
  position: absolute;
  height: 100%;
}

/* line 150, ../sass/main.scss */
.tab table.tb {
  padding: 20px;
}

/* line 153, ../sass/main.scss */
td.td-label {
  width: 80px;
}

/* line 156, ../sass/main.scss */
td.td-wide-label {
  width: 130px;
}

/* line 159, ../sass/main.scss */
.txcheckbox {
  width: 15px;
  height: 15px;
}

/* line 163, ../sass/main.scss */
.help {
  font-weight: strong;
  font-size: 105%;
  position: absolute;
  left: -15px;
  top: 4px;
  color: #44f;
  cursor: pointer;
  cursor: hand;
}

/* line 174, ../sass/main.scss */
.nav > li:not(.bubble) {
  display: inline-block !important;
}

/* line 177, ../sass/main.scss */
.nav-justified {
  text-align: center !important;
}

/* line 180, ../sass/main.scss */
.navbar-default {
  background-color: transparent !important;
}

/* line 183, ../sass/main.scss */
.navbar-nav {
  margin-left: 0 !important;
}
