div(ng-class="{incoming: direction == 'incoming', outgoing: direction == 'outgoing', cancelled: item.cancelled || item.rejected}")
	div.time {{time | date : "dd/MM/yy HH:mm"}}
	div.message {{item.message}}
	div(title="{{ item.cancelled ? 'this request was cancelled' : item.rejected ? 'this request was rejected' : ''}}")
		span.tnx(ng-if='item.tnx') {{ item.tnx }} thanx
		span.sat(ng-if='item.sat') {{ item.sat }} satoshi
	span.accept(ng-switch="", on="item.requestType", ng-if="direction == \'incoming\' && !item.cancelled && !item.rejected")
		img.requestActionButton(ng-switch-when="GIVE", src="/img/get.png", ng-click="")
		img.requestActionButton(ng-switch-when="GET", src="/img/get.png", ng-click="")
	span.reject(ng-if="item.requestType && !item.cancelled && !item.rejected")
		img.requestActionButton(src="/img/reject_blue.png")