.chatRow(ng-class="{leftmsg: direction == 'incoming', rightmsg: direction == 'outgoing', cancelled: item.cancelled || item.rejected}")
	.l(ng-if="direction=='incoming'")
		img(ng-src="/pic?id={{item.sender.id}}")
	.c
		.msg {{item.message}}
		.buts
			.circ(ng-if="item.tnx || item.sat", ng-class="{pendingGain: isPending && isGain, pendingLoss: isPending && isLoss , gain: !isPending && isGain, loss: !isPending && isLoss, cancelled: item.cancelled || item.rejected}")
				span(ng-if="item.requestType == 'GIVE' || item.txType == 'giveRequest'") sent
				span(ng-if="item.requestType == 'GET'") requested
				span(ng-if="item.txType == 'getRequest'") recieved

				span.amount  {{ item.tnx || item.sat }} 
				| {{item.tnx ? 'thanx' : 'satoshi'}}
			a(ng-if="direction=='outgoing' && isPending",ng-click="reject()").but cancel
			a(ng-if="direction=='incoming' && isPending",ng-click="reject()").but.xico
				img(ng-src="/img/xico.png")
		.bub
	.l(ng-if="direction=='outgoing'")
		img(ng-src="/pic?id={{item.sender.id}}")
	.clear